# Virtual environments
.venv/
venv/
env/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Streamlit
.streamlit/

# IDE settings
.vscode/
.idea/

# System files
.DS_Store